#content-col {
    background-image: url('/Users/brendenniedermeyer/CodeRepos/hack-the-dot-nov-panthers/img/bg.png');
    background-repeat: no-repeat;
    min-height: 433px;
}

.tip-container, .tip-image {
    max-width: 90%;
    margin: auto;
}
